@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>OneDrive Proof of Concept</h2>
        <p>
            Click on the button below to create a new Excel file.
        </p>
        <p>
            <a class="btn btn-default" href="~/Home/NewFile">New file</a>
        </p>
    </div>
</div>