
@model Sicra.Poc.OneDrive.WepApp.Models.NewFileModel

@{
    Layout = null;
    ViewBag.Title = "Open file";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Click on the link to open the file</title>
</head>
<body>
<div>
      <a class="btn btn-default" href="@Model.Url">Open file</a>
</div>
</body>
</html>